header {
    background-color: #D7CEB2;
}

body {
    background-color: #4C5760;
}

.post-card {
    background-color: rgb(147, 168, 172);
    /* height: 20rem;
    width: 20rem; */
    margin: 3rem;

}

.post-button {
    background-color: rgb(147, 168, 172);

}